<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Home</title>
</head>
<body>
<!--"save" connecting this form to pass on the data that we
capture as input to @link @RequestMapping(value="/save"-->
<form action="save" method="post">
<table>
    <tr>
        <td><label for="product-name">Product Name</label></td>
        <td><input type="text" name="name"></input></td>
    </tr>
    <tr>
        <td><label for="product-id">Product ID</label></td>
        <td><input type="text" name="id"></input></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Submit"></input></td>
    </tr>
</table>
</form>
</body>
</html>